<nav id="sidebar" class="">
    <!-- <h1><a href="index.html" class="logo">EcuShopping</a></h1> -->
    <ul class="list-unstyled components mb-5">
        <li>
        <li class="">
            <a [routerLink]="['/moduleProviders/provider/home']"><span class="fa fa-home mr-3"></span> Inicio</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-user mr-3"></span> Ventas</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Productos</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Stocks</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Chat</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Cupones</a>
        </li>
    </ul>
</nav>