<div class="container" id="registration-form">
  <div class="rm">
    <div style="display: flex; justify-content: center;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71IxKvGqiWL.png" alt="Not Found" class="img">
    </div>
    <h2 style="text-align: center;">Recuperar contraseña</h2>
    <div class="form-group" style="margin-bottom: 10px;">
      <label for="username">Correo electrónico:</label>
      <input [(ngModel)]="data.email" type="text" class="form-control" name="email"
        placeholder="Ingrese su correó electrónico" />
    </div>
    <div style="display: flex; justify-content: space-between;">
      <button type="submit" class="btn btn-success btn" (click)="rememberPassword()">
        Enviar
      </button>
      <button
        type="submit"
        class="btn btn"
        style="background-color: #ff6a00;"
        [routerLink]="['/moduleProviders/login']"
      >
        Iniciar Sesión
      </button>
    </div>
    <div style="text-align: center;">
      <label *ngIf="success !==''" class="msgSuccess">{{ success }}</label>
      <label *ngIf="error !==''" class="msgError">{{ error }}</label>
    </div>
  </div>
</div>