body {
  background-color: #fefefe;
}
.btn-google{
  background-color: #dd4b39;
  color: #fff;
  width: 100%;
}

.btn-ingresar{
  background-color: #0077ff;
  color: #fff;
  width: 100%;
}
.bg-login{
  background-image: url('../../../assets/img/login.jpg');
  background-size: cover;
  background-position: center;
}

.textFooter {
  color: #343a40;
  cursor: pointer;
}
  