<h1 class="text-center"
  style="margin-top: 20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:xx-large;">
  Información del usuario</h1>
<div class="container">
  <div class="abs-center mt-4">
    <form (ngSubmit)="updateUser()" class="bg-secondary pt-4 pb-4 border px-4 py-4 form mb-4" style="border-radius: 5px;">
      <div *ngIf="preview; else Block" >
        <img src="{{ preview }}" alt="">
      </div>
      <ng-template #Block style="text-align:center">
        <img src='{{avatar}}' alt="">
      </ng-template>
      <div class="form-group" style="color: white; margin-top: 5px;">
        <label for="placa">Nombre</label>
        <input type="text" name="placa" class="form-control" [(ngModel)]="users.names">
      </div>
      <div class="form-group" style="color: white;margin-top: 5px;">
        <label for="model">Apellido</label>
        <input type="text" name="model" class="form-control" [(ngModel)]="users.surnames">
      </div>
  
      <div class="form-group" style="color: white;margin-top: 5px;">
        <label for="name">Teléfono</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="users.cellPhone">
      </div>
      <div class="form-group" style="color: white;margin-top: 5px;">
        <label for="marca">Provincia</label>
        <select [(ngModel)]="users.province" name="province" class="form-control">
          <option selected>Seleccionar...</option>
          <option *ngFor="let province of provincesEc" [value]="province.provincia">
            {{ province.provincia }}
          </option>
        </select>
      </div>
      <div class="form-group" style="color: white;margin-top: 5px;">
        <label for="image">Logo</label>
        <input type="file" (change)="captureImg($event)" name="markImage" class="form-control" [(ngModel)]="captureImages"
          accept=".png, .jpg, .jpeg">
      </div>
      <div class="form-group" [hidden]="hiddenRuc" style="color: white;margin-top: 5px;">
        <label for="pdf">Archivo PDF</label>
        <input type="file" (change)="captureFile($event)" name="filePdf" class="form-control" [(ngModel)]="captureFiles"
          accept=".pdf">
      </div>
      <div class="form-group" style="text-align: center;">
        <button class="btn text-light mt-4 mr-2 btn-default" style="background:goldenrod;">Actualizar</button>
      </div>
    </form>
  </div>
</div>