<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <h1><a href="index.html" class="logo">EcuShopping</a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
            <li class="active">
                <a href="#"><span class="fa fa-home mr-3"></span> Perfil</a>
            </li>
            <li class="">
                <a href="#"><span class="fa fa-home mr-3"></span> Inicio</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user mr-3"></span> Ventas</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Productos</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Stocks</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-paper-plane mr-3"></span> Chat</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-paper-plane mr-3"></span> Cupones</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation"
            data-sidebarClass="navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ user }}</a>
                <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse"
                    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                    <ul class="nav navbar-nav nav-flex-icons ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/moduleProviders/profile-user']">Perfil</a>
                        </li>
                        <li class="nav-item active">
                            <button
                                type="button"
                                class="btn btn-outline-secondary"
                                (click)="sessionClose()"
                            >
                            Cerrar Sesión
                        </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            INICIO
            <router-outlet></router-outlet>
        </div>
    </div>
</div>